body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:374px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u962 {
  position:absolute;
  left:20px;
  top:60px;
  width:100px;
  height:100px;
}
#u963 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  position:fixed;
  left:0px;
  top:0px;
}
#u964_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:18px;
}
#u966 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u967 {
  position:absolute;
  left:12px;
  top:9px;
  width:12px;
  height:22px;
}
#u968 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:63px;
}
#u969 {
  position:absolute;
  left:130px;
  top:109px;
  width:220px;
  height:62px;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u971 {
  position:absolute;
  left:128px;
  top:64px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u974 {
  position:absolute;
  left:0px;
  top:220px;
  width:180px;
  height:180px;
}
#u975 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u976 {
  position:absolute;
  left:0px;
  top:410px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u978 {
  position:absolute;
  left:0px;
  top:436px;
  width:62px;
  height:16px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u980 {
  position:absolute;
  left:137px;
  top:436px;
  width:10px;
  height:14px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u982 {
  position:absolute;
  left:149px;
  top:435px;
  width:25px;
  height:16px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u985 {
  position:absolute;
  left:1px;
  top:220px;
  width:59px;
  height:51px;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:-9px;
  top:16px;
  width:76px;
  visibility:hidden;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  word-wrap:break-word;
  transform-origin:38.5px 9.5px;
  -ms-transform-origin:38.5px 9.5px;
  -moz-transform-origin:38.5px 9.5px;
  -webkit-transform-origin:38.5px 9.5px;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u987 {
  position:absolute;
  left:-1px;
  top:231px;
  width:48px;
  height:16px;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  white-space:nowrap;
  transform-origin:24px 8px;
  -ms-transform-origin:24px 8px;
  -moz-transform-origin:24px 8px;
  -webkit-transform-origin:24px 8px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u990 {
  position:absolute;
  left:195px;
  top:220px;
  width:180px;
  height:180px;
}
#u991 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u992 {
  position:absolute;
  left:195px;
  top:410px;
  width:69px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u994 {
  position:absolute;
  left:195px;
  top:436px;
  width:48px;
  height:16px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u997 {
  position:absolute;
  left:197px;
  top:223px;
  width:59px;
  height:51px;
  color:#FFFFFF;
}
#u998 {
  position:absolute;
  left:-9px;
  top:16px;
  width:76px;
  visibility:hidden;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  word-wrap:break-word;
  transform-origin:38.5px 9.5px;
  -ms-transform-origin:38.5px 9.5px;
  -moz-transform-origin:38.5px 9.5px;
  -webkit-transform-origin:38.5px 9.5px;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u999 {
  position:absolute;
  left:195px;
  top:234px;
  width:48px;
  height:16px;
  color:#FFFFFF;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  white-space:nowrap;
  transform-origin:24px 8px;
  -ms-transform-origin:24px 8px;
  -moz-transform-origin:24px 8px;
  -webkit-transform-origin:24px 8px;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1001 {
  position:absolute;
  left:336px;
  top:437px;
  width:10px;
  height:14px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u1003 {
  position:absolute;
  left:348px;
  top:436px;
  width:17px;
  height:16px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:182px;
  width:375px;
  height:30px;
  text-align:left;
}
#u1006 {
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:713px;
  width:375px;
  height:30px;
  text-align:left;
}
#u1008 {
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1009 {
  position:absolute;
  left:20px;
  top:753px;
  width:54px;
  height:54px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1011 {
  position:absolute;
  left:81px;
  top:753px;
  width:54px;
  height:54px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1013 {
  position:absolute;
  left:141px;
  top:753px;
  width:54px;
  height:54px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1015 {
  position:absolute;
  left:202px;
  top:753px;
  width:54px;
  height:54px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:11px;
  width:50px;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1018 {
  position:absolute;
  left:286px;
  top:777px;
  width:11px;
  height:11px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1020 {
  position:absolute;
  left:304px;
  top:777px;
  width:11px;
  height:11px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1022 {
  position:absolute;
  left:322px;
  top:777px;
  width:11px;
  height:11px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:31px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:821px;
  width:375px;
  height:30px;
  text-align:left;
}
#u1025 {
  position:absolute;
  left:10px;
  top:7px;
  width:363px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u1026 {
  position:absolute;
  left:236px;
  top:498px;
  width:91px;
  height:91px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_ann {
  position:absolute;
  left:320px;
  top:494px;
  width:1px;
  height:1px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
}
#u1028 {
  position:absolute;
  left:248px;
  top:596px;
  width:76px;
  height:16px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u1031 {
  position:absolute;
  left:1px;
  top:465px;
  width:180px;
  height:180px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1033 {
  position:absolute;
  left:1px;
  top:655px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u1035 {
  position:absolute;
  left:1px;
  top:681px;
  width:62px;
  height:16px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1037 {
  position:absolute;
  left:138px;
  top:681px;
  width:10px;
  height:14px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u1039 {
  position:absolute;
  left:150px;
  top:680px;
  width:25px;
  height:16px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:465px;
  width:59px;
  height:51px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:-9px;
  top:16px;
  width:76px;
  visibility:hidden;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  word-wrap:break-word;
  transform-origin:38.5px 9.5px;
  -ms-transform-origin:38.5px 9.5px;
  -moz-transform-origin:38.5px 9.5px;
  -webkit-transform-origin:38.5px 9.5px;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:476px;
  width:48px;
  height:16px;
  color:#FFFFFF;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
  white-space:nowrap;
  transform-origin:24px 8px;
  -ms-transform-origin:24px 8px;
  -moz-transform-origin:24px 8px;
  -webkit-transform-origin:24px 8px;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
}
#u1046 {
  position:absolute;
  left:130px;
  top:90px;
  width:116px;
  height:16px;
  font-size:13px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
