body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1443 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1443_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1443_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1444 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:18px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u1446 {
  position:absolute;
  left:12px;
  top:9px;
  width:12px;
  height:22px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:200px;
}
#u1449 {
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:200px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u1451 {
  position:absolute;
  left:97px;
  top:100px;
  width:181px;
  height:48px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1453 {
  position:absolute;
  left:10px;
  top:190px;
  width:70px;
  height:70px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1455 {
  position:absolute;
  left:88px;
  top:225px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
