body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u594 {
  position:fixed;
  left:0px;
  top:0px;
}
#u594_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u594_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  font-size:18px;
}
#u596 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  word-wrap:break-word;
}
#u597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:23px;
}
#u597 {
  position:absolute;
  left:12px;
  top:9px;
  width:12px;
  height:22px;
}
#u598 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:41px;
}
#u599 {
  position:absolute;
  left:22px;
  top:590px;
  width:330px;
  height:40px;
}
#u600 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u601 {
  position:absolute;
  left:38px;
  top:210px;
  width:300px;
  height:170px;
}
#u602 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
