body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u1673 {
  position:absolute;
  left:600px;
  top:80px;
  width:90px;
  height:40px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u1675 {
  position:absolute;
  left:600px;
  top:240px;
  width:90px;
  height:40px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u1677 {
  position:absolute;
  left:440px;
  top:350px;
  width:90px;
  height:40px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:41px;
}
#u1679 {
  position:absolute;
  left:720px;
  top:350px;
  width:90px;
  height:40px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1681 {
  position:absolute;
  left:645px;
  top:120px;
  width:0px;
  height:0px;
}
#u1681_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u1681_seg1 {
  position:absolute;
  left:-10px;
  top:107px;
  width:20px;
  height:20px;
}
#u1682 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u1683 {
  position:absolute;
  left:600px;
  top:260px;
  width:0px;
  height:0px;
}
#u1683_seg0 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:119px;
  height:8px;
}
#u1683_seg1 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:8px;
  height:94px;
}
#u1683_seg2 {
  position:absolute;
  left:-125px;
  top:77px;
  width:20px;
  height:20px;
}
#u1684 {
  position:absolute;
  left:-152px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1685 {
  position:absolute;
  left:690px;
  top:260px;
  width:0px;
  height:0px;
}
#u1685_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1685_seg1 {
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:94px;
}
#u1685_seg2 {
  position:absolute;
  left:65px;
  top:77px;
  width:20px;
  height:20px;
}
#u1686 {
  position:absolute;
  left:25px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1687 {
  position:absolute;
  left:530px;
  top:370px;
  width:0px;
  height:0px;
}
#u1687_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u1687_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1688 {
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
